<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer_col">
        <div class="footer_column footer_contact">
          <div class="logo_container">
            <div class="logo"><a href="#">Sora Book Store</a></div>
          </div>
          <div class="footer_title">Hãy gọi chúng tôi -- Hoạt động 24/7</div>
          <div class="footer_phone">1900-63-64-67</div>
          <div class="footer_contact_text">
            <p>190 Sư Vạn Hạnh</p>
            <p>P15, Q10, TPHCM</p>
          </div>
          <div class="footer_social">
            <ul>
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-2">
        <div class="footer_column">
          <div class="footer_title">DỊCH VỤ</div>
          <ul class="footer_list">
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Giới thiệu Sora</a></li>
            <li><a href="#">Hệ thống trung tâm - nhà sách</a></li>
          </ul>
          <div class="footer_subtitle">LIÊN HỆ</div>
          <ul class="footer_list">
            <li><a href="#">60-62 Lê Lợi, Q.1, TP. HCM</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">HỖ TRỢ</div>
          <ul class="footer_list">
            <li><a href="#">Chính sách đổi - trả - hoàn tiền</a></li>
            <li><a href="#">Chính sách khách sỉ</a></li>
            <li><a href="#">Phương thức vận chuyển</a></li>
            <li><a href="#">Phương thức thanh toán và xuất HĐ</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">TÀI KHOẢN CỦA TÔI</div>
          <ul class="footer_list">
            <li><a href="#">Đăng nhập/Tạo mới tài khoản</a></li>
            <li><a href="#">Thay đổi địa chỉ khách hàng</a></li>
            <li><a href="#">Chi tiết tài khoản</a></li>
            <li><a href="#">Lịch sử mua hàng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
