<section class="mb-5">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox">
          <div class="row product-gallery mx-1">
            <div class="col-12 mb-0">
              <figure class="view overlay rounded z-depth-1 main-img">
                
                  <img src="https://salt.tikicdn.com/media/catalog/producttmp/87/ac/69/2dc271bbb10ba65659682d524346486d.jpg" class="img-fluid z-depth-1" style="width: 400px;height: 400px;">
                
              </figure>
            </div>
          </div>
  
        </div>
  
      </div>
      <div class="col-md-6">
        <h5>Sách Đắc Nhân Tâm</h5>
        <p><span class="mr-1"><strong>99.000VND</strong></span></p>
        
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Tên tác giả: </strong></th>
                <td>Nguyễn Nhật Ánh</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Năm xuất bản: </strong></th>
                <td>2018</td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Xuất xứ: </strong></th>
                <td>VietNam</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="table-responsive mb-2">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td class="pl-0 pb-0 w-25">Số lượng</td>
                
              </tr>
              <tr>
                <td class="pl-0">
                  <div class="def-number-input number-input safari_only mb-0">
                    
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
      </div>
    </div>
    <div class="table-responsive">
      <p class="pt-1" style="padding: 20px;"><strong>Mô tả</strong></p>
      <p class="pt-1" >Đắc Nhân Tâm - Cuốn sách bán chạy nhất thế giới nay đã có mặt tại Sora Store của chúng tôi. Đảm bảo sách bản quyền 100% - Hãy nói không với sách giả </p>
    </div>
  
  </section>
